.container{
    display: grid;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    background-color: lightblue;

}

.nav{
    grid-row: 1/span 5;
    background-color: red;
}

.header{
    grid-column: 2/span 4;
    background-color: grey;
    display: flex;
    align-items: center;
}

.main{
    grid-area: 2/2/span 4/ span 4;
    background-color: green;
}
.header-link{
    font-size: 30px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    color: #000;

}

.header-link::before{
    content: "\003C";
    display: inline-block;
    margin-left: 50px;
    margin-right: 15px;
}

.nav{
    display: grid;
    /*grid-template-rows: repeat(4, 25% );*/
    grid-template-rows: 1fr 3fr 1fr;


}

.nav-logo {
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50% 50%;
    background-image: url("../img/icons04.png");
    grid-row: 1 / span 1;

}

.nav-link{
    grid-row: 2 / span 3;
}

.nav-bottom{

}