.header {
    width: 1600px;
    height: 900px;
    background-image: url("../image/Layer\ 21@1X.png");
}
.header-container {
    padding-top: 531px;
    padding-left: 215px;
}

.sertiz {
    font-size: 48px;
    color: white
}

.awesome {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 21px;
}

.awesome > span {
    text-transform: uppercase;
}

.we > span {
    color: #f1ad1d;
    text-align: left;
}


.we{
    border: 1px solid white;
    width: 831px;
    font-size: 54px;
    line-height: 2.5;
    padding-left: 30px;
    text-transform: uppercase;
    color: white;
    background-color: rgba (0,0,0,0.2);

}

.award{
    width: 1600px;
}

.about{
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 72px;
}

.description{
    text-align: center;
    font-size: 17px;
}

hr {
    width: 60px;
    height: 2px;
    background-color: #F1AD1D;
}

.award-img{
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

nav{
    margin: 0 auto;
    width: 1169px;
    border-bottom: 3px solid yellow;
}

.nav-bar, .nav-bar-name, .menu{
    display: inline-block;
}

.nav-bar-name{
    text-transform: uppercase;
    color: yellow;
}

.menu{
    margin-left: 500px;
   vertical-align: bottom;

}

.menu-list {
    display: inline-block;
    /*list-style-type: circle;*/
    /*margin-right: 30px;*/
}

.menu a {
    /*text-transform: uppercase;*/
    text-decoration: none;
    font-variant: small-caps;
    color: #000;
    margin-left: 30px;

}

/*.description::after {*/
/*    content: ;*/
/*}*/